<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Tested Forms</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section>
        <h1>Hello, {{ this_user.first_name }}! Add Your Tested Forms! </h1>
        <a href="/logout">Logout</a>     <img src= "{% static 'images1/USA_chinwoo.JPG' %}"/>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/students/createtf" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="form_name">Form Name</label>
                <input type="text" name="form_name" id="form_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="video_doc">Video Documentation</label>
                <input type="text" name="video_doc" id="video_doc" class="form-control">
            </div>
            <div class="form-group">
                <label for="test_date">Test Date</label>
                <input type="date" name="test_date" id="test_date" class="form-control">
            </div>
            <div class="form-group">
                <label for="inst_comments">Instructor Comments</label>
                <input type="text" name="inst_comments" id="inst_comments" class="form-control">
            </div>
            <div class="form-group">
                <label for="contd_form_goals">Continued Form Goals</label>
                <input type="text" name="contd_form_goals" id="contd_form_goals" class="form-control">
            </div>
            <div class="form-group">
                <label for="student_comments">Student Comments</label>
                <input type="text" name="student_comments" id="student_comments" class="form-control">
            </div>
            <button class="btn btn-primary">Submit</button> 
        </form>
    </section>
    